new-session -n $HOST
set -g history-limit 30000

# Start windows and panes at 1, not 0
set -g base-index 1
set -g pane-base-index 1

set-option -g status-position bottom

set-option -g repeat-time 0

# Removes ESC delay
set -sg escape-time 0

# zss kinda tight
set-option -g default-shell $SHELL

{{ if eq .chezmoi.os "darwin" }}
# copy and paster set-option -g default-command
set-option -g default-command "reattach-to-user-namespace -l zsh"
{{ end }}

# look good set -g default-terminal "screen-256color"
set -g default-terminal "screen-256color"

set-option -ga terminal-overrides ",xterm-256color:Tc"

set -g default-terminal "xterm-256color"

# act like GNU screen unbind C-b set -g prefix C-a

# a mouse set -g mode-mouse on setw -g mouse-select-window on setw -g
set -g mouse on
# set -g mouse-utf8 on
# set -g mouse-select-window on

set -g @resurrect-capture-pane-contents 'on'

set -g set-clipboard on

# act like vim
setw -g mode-keys vi
bind M-Left select-pane -L
bind M-Down select-pane -D
bind M-Up select-pane -U
bind M-Right select-pane -R
bind-key -r C-h select-window -t :-
bind-key -r C-l select-window -t :+
unbind [
bind ` copy-mode
unbind p
bind p paste-buffer
bind-key -T copy-mode-vi v send-keys -X begin-selection
bind-key -T copy-mode-vi y send-keys -X copy-selection
bind | split-window -h
bind - split-window -v
unbind '"'
unbind %
bind r source-file ~/.tmux.conf

# after copying to a tmux buffer, hit y again to copy to clipboard bind
{{ if eq .chezmoi.os "darwin" }}
bind y run "tmux save-buffer - | reattach-to-user-namespace pbcopy"
{{ end }}

set-option -g @tpm-clean 'C'

# Status bar
## General
set-option -g status on
set-option -g status-interval 1
set-option -g status-justify centre
set-option -g status-keys vi
set-option -g status-position bottom
set-option -g status-style fg=default,bg=default
status_separator_icon_left="\ue0b1 "
status_separator_icon_right=" \ue0b3"
status_end_icon_left="\ue0b0 "
status_end_icon_right=" \ue0b2"

status_default_style="fg=#43ccea,bg=#272727"

status_separator_left="#[fg=#000000,bg=#272727]$status_separator_icon_left #[$status_default_style]"
status_separator_right="#[fg=#000000,bg=#272727] $status_separator_icon_right#[$status_default_style]"

status_left_end="#[fg=#272727,bg=default]$status_end_icon_left #[default]"
status_right_end="#[fg=#272727,bg=default]$status_end_icon_right#[$status_default_style]"

status_host="= #h"
status_host_bg="#43ccea"
status_host_fg="#000000"

status_who=" #(who | cut -d \" \" -f1)"
status_who_fg=#ffffff
status_who_bg=#008ab8

status_prefix_fg=#ffffff
status_prefix_bg=#006989

set -g @prefix_highlight_fg $status_prefix_fg # default is 'colour231'
set -g @prefix_highlight_bg $status_prefix_bg # default is 'colour04'

set -g @online_icon "#[fg=green,bright]󰗠#[$status_default_style]"
set -g @offline_icon "#[fg=red,bright]󰖭#[$status_default_style]"

status_online="󰖩:#{online_status}"
status_online_fg=#43ccea
status_online_bg=#272727

status_uptime="#(uptime | cut -f 4-5 -d ' ' | cut -f 1 -d ',')"

status_date=%Y-%m-%d
status_date_fg=#43ccea
status_data_bg=#272727

status_time="%a %l:%M:%S %p"
status_date_fg=#43ccea
status_date_bg=#272727

set-option -g @battery_remain_short 'true'
status_battery="#{battery_icon} #{battery_percentage} #{battery_remain}"

set-option -g status-left-length 140
set-option -g status-left-style default
set-option -g status-left "#[fg=$status_prefix_fg,bg=$status_prefix_bg]#{prefix_highlight}#[fg=$status_prefix_bg,bg=$status_host_bg]$status_end_icon_left \
	#[fg=$status_host_fg,bg=$status_host_bg]$status_host #[fg=$status_host_bg,bg=$status_who_bg]$status_end_icon_left \
	#[fg=$status_who_fg,bg=$status_who_bg]$status_who #[fg=$status_who_bg,bg=default]$status_end_icon_left \
	#[fg=$status_session_fg,bg=$status_session_bg]$status_session \
	#[fg=$status_session_bg,bg=default]$status_end_icon_left"

set-option -g status-right-length 140
set-option -g status-right-style default
set-option -g status-right "$status_right_end \
	$status_online$status_separator_right \
	$status_uptime$status_separator_right \
	$status_time$status_separator_right \
	$status_date \
	#{battery_color_fg}#{battery_color_bg} $status_battery \
	#[default]"
# set-option -ag status-right "#[fg=red,dim,bg=default]#(uptime | cut -f 4-5 -d ' ' | cut -f 1 -d ',') "
# set-option -ag status-right " #[fg=white,bg=default]%a%l:%M:%S %p#[default] #[fg=blue]%Y-%m-%d "

set-window-option -g window-status-style fg=colour244
set-window-option -g window-status-style bg=default

set-window-option -g window-status-current-style fg=colour166
set-window-option -g window-status-current-style bg=default

# List of plugins
set -g @plugin 'joshmedeski/tmux-nerd-font-window-name'
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'tmux-plugins/tmux-logging'
set -g @plugin 'tmux-plugins/tmux-pain-control'
set -g @plugin 'tmux-plugins/tmux-copycat'
set -g @plugin 'tmux-plugins/tmux-open'
set -g @plugin 'christoomey/vim-tmux-navigator'
set-option -g @plugin 'b0o/tmux-autoreload'

## Status Bar
set -g @plugin 'tmux-plugins/tmux-prefix-highlight'
set -g @plugin 'tmux-plugins/tmux-battery'
set -g @plugin 'tmux-plugins/tmux-cpu'
set -g @plugin 'tmux-plugins/tmux-online-status'
set -g @plugin 'tmux-plugins/tmux-net-speed'
set -g @plugin 'alexchaichan/tmux-spotify-tui'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'
