{{- if .secrets.write_token -}}
export WRITE_TOKEN={{ .secrets.write_token | quote }}
{{- end }}
{{- if .secrets.gl_token -}}
export GL_TOKEN={{ .secrets.gl_token | quote }}
export GITLAB_TOKEN={{ .secrets.gl_token | quote }}
{{- end }}
{{- if .secrets.jira_token -}}
export JIRA_TOKEN={{ .secrets.jira_token | quote }}
export JIRA_API_TOKEN={{ .secrets.jira_token | quote }}
export JIRA_AUTH_TYPE="bearer"
{{- end }}
{{- if .secrets.figma_token -}}
export FIGMA_TOKEN={{ .secrets.figma_token | quote }}
{{- end }}
{{- if .secrets.confluence_token -}}
export CONFLUENCE_TOKEN={{ .secrets.confluence_token | quote }}
export CONFLUENCE_PASSWORD={{ .secrets.confluence_token | quote }}
{{- end }}
{{- if .secrets.confluence_host -}}
export CONFLUENCE_HOST={{ .secrets.confluence_host | quote }}
{{- end }}
{{- if .secrets.confluence_username -}}
export CONFLUENCE_USERNAME={{ .secrets.confluence_username | quote }}
{{- end }}
{{- if .secrets.gitlab_host -}}
export GITLAB_HOST={{ .secrets.gitlab_host | quote }}
{{- end }}
